* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    user-select: none; /* IMPORTANT!!! */
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.grid-item {
    border: 1px solid black;
    transition: .2s ease-in;
}

.grid-item:hover {
    background-color: white;
} 

.no-border {
    border: none;
}

#color-picker {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 80px;
    height: 80px;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
  